#main-signup{
    width: 70vw;
}

#login-form{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.login-signup-button{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--strong-primary-color);
}